.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 0 auto;
}

.container__title {
    margin-bottom: 50px;
}

.footer__container {
    display: flex;
    align-items: baseline;
}