.footer-form {
    margin-right: 0;
    margin-left: auto;
}

.footer-form__head {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $second-title-color;
    }

.footer-form__field {
    display: flex;
    }

.footer-form__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border $time $timing-function;

        &:focus {
        outline: none;
        border: 1px solid $accent-color;
        }
}

.footer-form__icon {
    margin-left: 10px;
    }
