.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}
.information {
    margin-right: 70px;
    width: 231px;
}
.footer-social__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $second-title-color;
}