.page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
}
.page-header--flex {
    display: flex;
}
.nav {
    display: flex;
    align-items: center;
}
