.team {
    display: flex;
}

.employee {
    width: 270px;
    background-color: $second-title-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__employee {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
        }
}

.employee__boarder {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employee__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: $primary-title-color;
}

.employee__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}