.values {
    display: flex;
}

.values__item {
    margin-right: 30px;
    width: 270px;

        &:last-child {
            margin-right: 0;
        }
}

.values__block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.values__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-title-color;
}
