$primary-title-color: #212121;
$primary-text-color: #757575;
$second-title-color: #ffffff;
$accent-color: #2196f3;
$time: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$page-font-base: Roboto, sans-serif;
$page-font-bond: Raleway, sans-serif;
